.company {
    margin: 10rem 0 0 0;
    position: relative;
    background-color: #F1F1F1;
}

.about-company {
    width: fit-content;
    font-weight: bold;
    font-size: 4rem;
    line-height: 56px;
    letter-spacing: 0.02em;
    background: #ffffff;
    color: #002749;
    height: 46rem;
    padding: 4rem 10% 40rem 25%;
    margin: 0;
    position: absolute;
    top: 0px;
    z-index: 4;
} 

.img__company-main {
    display: flex;
    justify-content: flex-end;
    background: url(../img/bg_company.png) no-repeat;
    background-size: cover;
    width: 50%;
    height: 46rem;
    margin-left: auto;
    z-index: 5;
}

.bg__company-main {
    background-color: #F1F1F1;

}

.bg__quotes {
    color: #002749;;
}

.bg__quotes.container {
    width: 100rem;
    background-color: white;
    position: relative;
    top: -30rem;
    z-index: 6;
}

h3, p {
    font-size: 1.2rem;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #002749;
}

h2 {
    font-size: 2.2rem;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #002749;
}

.quotes {
    font-size: 2rem;
    line-height: 34px;
    padding-top: 9rem;
    width: 70rem;
    margin: auto;
}

.quotes::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 120px;
    left: 10rem;
    top: 8rem;
    background: #7DCEF1;
}

.quotes__main {
    display: flex; 
    justify-content: space-around;
    padding-bottom: 4rem;
}

.quotes__text {
    display: inline-block;
    width: 31rem;
    padding-top: 10rem;
    font-size: 1.2rem;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.company__types {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}

.company__type {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 32rem;
}


.company__type h3 {
    margin-top: 3rem;
}

.company__type img {
    align-self: flex-start;
    flex: 1;
}

.digital__types {
    height: 100rem;
    background-color: white;
    margin-top: 10rem;
}

.digital__type-pr {
    flex-direction: column;
    width: 35rem;
}

.digital__type-content {
    flex-direction: column;
    width: 35rem;
}



/* blue bg */

.bg__digital-blue {
    width: 100%;
    height: 40rem;
    background: #7DCEF1;

}

.digital-blue__text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 34px;
    padding-top: 9rem;
    width: 70rem;
    margin: auto;
}

a.blue__arrow-link {
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #002749;
    width: 40rem;
    height: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue__arrow {
    margin-left: 3rem;
}