* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
	font-size: 11px;
}

body {
	overflow-x: hidden;
}

body.overflow {
	overflow: hidden;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto; 
}

/*  start header*/

.header {
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 126px; 
	background-color: #ffffff;
	z-index: 1500;  
}

.header-container {	
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	align-items: center;
	padding-top: 4rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation {
	display: flex;
    justify-content: flex-end;
}

.nav-menu {
	font-size: 1rem;
	font-weight: 800;
	display: flex;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.nav-menu li a {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 0 0 8rem;
	color: #002749;
	transition: all .3s;
}

a {
	text-decoration: none;
}

.logo-link {
	margin-left: 8rem;
}


/* start burger */

div.burger {
	position: relative;
	cursor: pointer;
	margin-left: 4.5rem;	
	margin-right: 5rem;
}



.burger:hover > div {
	background: #7DCEF1;
}

div.x:hover, div.y:hover, div.z:hover {
	background: #7DCEF1;
	transition: all .3s;
}

div.x, div.y, div.z {		
	background: #002749;
    border-radius: 5rem;
    transition: all 200ms ease-out;
    margin-bottom: 0.2rem;
}	

div.y {
	height: 0.2rem;
	width: 4rem;
	margin-left: -1rem;
}

div.x, div.z { 
	height: 0.2rem;
	width: 3rem; 
}

div.z{
	top: 4rem;
	margin-bottom: 0;
}

.menu__item::after {
	content: '';
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	display: block;
	width: 8px;
	height: 8px;
	background-color: #92D2F4;
	border-radius: 50%;
	transform: scale(0, 0) translateX(-50%);
	transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
}

.menu__item-active::after,
.menu__item:hover::after {
	transform: scale(1, 1) translateX(-50%);
}

.menu__item:hover {
	color: #7DCEF1;
}


/* end burger */
/* end header */
.background__main-section {
	display: flex;
	align-items: center;
	background: url(../img/bg.jpg) no-repeat;
	margin-top: 13rem;
	padding-bottom: 7rem;
	max-width: 90%;
    height: calc(100vh - (24px + 126px + 126px));
	background-size: cover;
}

.background__main {
	width: 85%;
	height: 30rem;
	background-color: #002749;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: 0.02em;
	margin-left: 12rem;
	position: relative;
}

.main__title {
	color: #ffffff;
	width: 90%;
	margin: 4rem 0 0 2rem;
}

.main__title-decoration {
	color: #7DCEF1;
}

.arrow {
	position: absolute;
	right: 6rem;
	bottom: 3rem;
	cursor: pointer;
}

.arrow-img {
	width: 20rem;
}

.arrow:hover {
	color: #7DCEF1;
	transition: all .3s;
}

/* start footer */
.footer {
	height: 126px;
	display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 0;
}

.certification {
	font-size: 1rem;
	line-height: 2rem;
	letter-spacing: 0.02em;
	color: rgba(0, 39, 73, 0.66);
	margin-left: 8rem;
}

.social {
	display: flex;
	margin-right: 7rem;
}

.social__link {
	font-size: 1rem;
	line-height: 2rem;
	letter-spacing: 0.02em;
	padding-left: 5rem;
	color: #002749;
	transition: all .3s;
}

.social__link:hover {
	color: #7DCEF1;
}

/* end footer */

/* burger inside*/

.window-menu {
	position: fixed;
	overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translate(100%,0%);
	transition: all .3s;
	z-index: 3900;
}

.window-menu.show {
	transform: translate(0%, 0%);
	background: #002749 url(../img/lines.png) no-repeat;
	background-size: cover;
}

body.window-menu .burger > div {
	background-color: #fff;
  }

.burger-close {
	position: absolute;
	right: 5rem;
	top: 4rem;
	width: 3rem;
	height: 3rem;
	opacity: 0.3;
}
.burger-close:hover {
	opacity: 1;
}

.burger-close:before, .burger-close:after {
	position: absolute;
	left: 1rem;
	content: ' ';
	height: 3rem;
	width: 0.2rem;
	background-color: #ffffff;
}

.burger-close:before {
	transform: rotate(45deg);
}

.burger-close:after {
	transform: rotate(-45deg);
}

.logo-white {
	margin-top: 4rem;
}

.navigation-window {
	display: flex;
    justify-content: flex-end;
    margin-right: 20rem;
	font-size: 3rem;
	text-align: right;
	font-weight: 600;
}

.nav-window a {
	color: #ffffff;
	transition: all .3s;
}
 
.nav-window a:hover {
	color: #7DCEF1;
}


.nav-window li {
	margin-bottom: 4rem;
}

.social-window  {
	display: flex;
    justify-content: flex-end;
	margin-right: 23rem;
	margin-top: 10rem;
	text-align: right;
	flex-direction: column;
}

.social-window a {
	font-size: 1rem;;
	color: #ffffff;
	transition: all .3s;
}

.social-window a:hover {
	color: #7DCEF1;
}

.social-window li {
	margin-bottom: 3rem;
}
/* end burger inside */

.section__bg {
	display: flex;
}
	
/* section page name */

.company {
    margin: 10rem 0 0 0;
    position: relative;
    background-color: #F1F1F1;
}

.about-company {
    width: 50%;
    font-weight: bold;
    font-size: 4rem;
    line-height: 56px;
    letter-spacing: 0.02em;
    background: #ffffff;
    color: #002749;
    height: 46rem;
    padding: 4rem 0 40rem 25%;
    margin: 0;
    position: absolute;
    top: 0px;
    z-index: 4;
} 

.img__company-main {
    display: flex;
    justify-content: flex-end;
    background: url(../img/bg_company.png) no-repeat;
    background-size: cover;
    width: 50%;
    height: 46rem;
    margin-left: auto;
    z-index: 5;
}

.bg__company-main {
    background-color: #F1F1F1;
	padding-bottom: 10rem;
}

.logo-text {
	display: none;
}

/* mobile version */

@media  ( max-width: 768px ) {

	.header {
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100px; 
		background-color: #ffffff;
		z-index: 1500;  
	}
	
	.header-container {	
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 4rem;
	}

	.logo-link {
		margin-left: 5%;
	}

	.logo-white {
		display: none;
	}

	.logo-text {
		display: inline-block;
		color: #fff;
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 17px;
		margin: 5rem 0 0 5%;

	}

	.navigation {
		display: flex;
    	justify-content: flex-end
	}

	.nav-menu {
		display: none;
	}

	div.burger {
		position: relative;
		cursor: pointer;
		margin-left: 0px;
    	margin-right: 50%;
	}
	
		
	.burger:hover > div {
		background: #7DCEF1;
	}
	
	div.x:hover, div.y:hover, div.z:hover {
		background: #7DCEF1;
		transition: all .3s;
	}

	h1 {
		font-size: 2rem;
	}
	
	.background__main-section {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		background: url(../img/bg.jpg) no-repeat;
		margin-top: 10rem;
		padding-bottom: 10rem;
		max-width: 100%;
		height: calc(100vh - (100px + 126px));;
		background-size: contain;
	}
	
	.background__main  {
		max-width: initial;
		width: 100%;
		margin: 0;
	}

	.social__link {
		display: none;
	}

	.main__title {
		margin: 5rem 0 0 2rem;
		font-size: 2rem;
		line-height: 4rem;
	}

	.certification {
		margin-left: 5%;
	}

	.arrow {
		position: absolute;
		right: 3rem;
		bottom: 4rem;
		cursor: pointer;
	}

	.arrow-img {
		width: 15rem;
	}

	.navigation-window {
		margin-right: 6rem;
		margin-top: 8rem;
	}

	.social-window {
		margin-right: 6rem;
	}

	.burger-close {
		right: 2rem;
	}

	.window-menu.show {
		transform: translate(0%, 0%);
		background: #002749 url(../img/mobile-bg.png) no-repeat;
		background-position-y: bottom;
    	background-size: contain;
	}

	.img__company-main {
        display: none;
	}
	
	.company {
		position: static;
	}
	
	.about-company {
		width: 100%;
		font-size: 3rem;
		background: #F1F1F1;
		height: auto;
		padding: 4rem 0 5rem 2rem;
		position: absolute;
		top: 130px;
		z-index: 4;
	} 


	

}


