* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto; 
}
/*  start header*/
.header {
	margin: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 126px; 
	background-color: #ffffff;
	z-index: 1;  
}

.header-container {	
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	align-items: center;
	padding-top: 40px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation {
	display: flex;
    justify-content: flex-end;
}

.nav-menu {
	font-size: 11px;
	font-weight: 800;
	display: flex;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.nav-menu li a {
	display: block;
	text-align: center;
	margin: 0 0 0 80px;
	color: #002749;
}

a {
	text-decoration: none;
}

.logo-link {
	margin-left: 80px;
}


/* start burger */

div.burger {
	position: relative;
	cursor: pointer;
	margin-left: 46px;	
	margin-right: 50px;
}

div.x, div.y, div.z {		
	background: #002749;
    border-radius: 50px;
    transition: all 200ms ease-out;
    margin-bottom: 3px;
}	

div.y {
	height: 2px;
	width: 44px;
	margin-left: -11px;
}

div.x, div.z { 
	height: 2px;
	width: 33px; 
}

div.z{
	top: 37px;
	margin-bottom: 0;
}

div.collapse{
	top: 20px;
	background:#002749;;
	-webkit-transition: all 70ms ease-out;
	-moz-transition: all 70ms ease-out;
	-ms-transition: all 70ms ease-out;
	-o-transition: all 70ms ease-out;
	transition: all 70ms ease-out;
}

/* end burger */
/* end header */
.background__main-section {
	display: flex;
	background: url(../img/index-background.svg) no-repeat;


}

.background__main {
	width: 896px;
	height: 193px;
	margin-top: 200px;
	background-color: #002749;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.02em;
}

.main__title {
	color: #ffffff;
	width: 800px;
	margin: 40px 0 0 20px;
}

.main__title-decoration {
	color: #7DCEF1;
}

.arrow {
	width: 150px;
	height: 50px;
	cursor: pointer;
}

/* start footer */
.footer {
	display: flex;
    justify-content: space-around;
	margin: 0;
    padding: 0;
}

.certification {

	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: rgba(0, 39, 73, 0.66);
}

.social {
	display: flex;
}

.social__link {
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.02em;
	padding-left: 46px;
	color: #002749;
}

/* end footer */

/* burger inside*/
.header {
	z-index: 2;
  }
  
  body.menu-opened::after {
	  content: '';
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  display: block;
	  z-index: 2;
	  background-color: #002749;
	  background-image: url(img/lines.svg) no-repeat;
  }
  
  body.menu-opened .header,
  body.menu-opened nav,
  body.menu-opened .header-container {
	background-color: transparent;
  }
  
  body.menu-opened .burger > div {
	background-color: #fff;
  }
  
  body.menu-opened .header {
	z-index: 3;
  }
  
  body.menu-opened .burger {
	left: 0;
	top: 0;
  }
  
  body.menu-opened .nav-menu {
	display: block;
	margin-top: 50%;
  }
  
  body.menu-opened .nav-menu li a {
	color: #fff;
	margin-bottom: 35px;
  }

/* end burger inside */